/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines a dataset to retreive from ENA (PRJNA515497 - Zhao et al 2020
 * https://doi.org/10.1038/s41421-020-0157-z) and parameters appropriate for
 * running on cloudos using instances with 16 CPUs and 32GB memory.
 * Use as follows:
 *   nextflow run nf-core/scrnaseq --config conf/test_kallisto_largedata.config
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Large test dataset to check kallisto/bustools workflow function'
  // Limit resources so that this can run on Travis
  max_cpus = 15
  max_memory = 25.GB
  max_time = 96.h
  // Aligner params
  aligner = 'kallisto'
  bustools_correct = true
  skip_bustools = false
  type = '10x'
  chemistry = 'V2'
  // Input data
  genome = 'GRCh38'
  input_paths = [
    ['SRR8448139',
      ['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR844/009/SRR8448139/SRR8448139_1.fastq.gz',
      'ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR844/009/SRR8448139/SRR8448139_2.fastq.gz']],
    ['SRR8448142',
      ['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR844/002/SRR8448142/SRR8448142_1.fastq.gz',
      'ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR844/002/SRR8448142/SRR8448142_2.fastq.gz']]
  ]
}
